.content-contato {
    padding: 50px;
    margin-bottom: 20px;
    transition: all 1s;
    width: 100vw;
    height: 30vh;
}

.content-contato h2 {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

.center {
    display: flex;
    justify-content: center;
}

#background {
    background-color: transparent;
    box-shadow: #000 0px 5px 8px;
}

.text {
    display: flex;
    justify-content: center;
} 

@media(max-width: 898px){
    #contato{
        padding-top: 15vh;
    }
}
@media(max-width: 590px){
    #contato{
        padding-top: 60vh;
    }
}

@media(max-width: 375px){
    #contato{
        padding-top: 90vh;
    }
}
