#sobre{
    display: flex;
    align-items: center;
    justify-content: center;
}

#coluna{
    background: radial-gradient(#5a189a, #3c096c, #001233);
    border: none;
    align-items: center;
}

h1{
    font-family: 'Inika', serif;
    font-size: 3rem;
    color: white;
}

.desc{
    color: white;
}


.img{
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media(max-width: 670px){
    #img{
        display: none;
    }
    #description{
        width: 100vw;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}